
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="panel bg-warning">
    <div class="btn-group">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AllProducts">Products</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CheckSuppliers">Suppliers</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ViewSales">Sales</a>
    </div>
</div>