@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="panel">
    <span>
        <a class="btn btn-primary" asp-controller="Product" asp-action="LiveProducts">Products</a>
        <a class="btn btn-success" asp-controller="Manage" asp-action="Index">Edit Profile</a>
        <a class="btn btn-warning" asp-controller="Cart" asp-action="CartDetails">Cart</a>
    </span>
</div>

