@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="panel bg-primary">
    <div class="btn-group">
        <a class="btn btn-primary" asp-controller="Product" asp-action="LiveProducts">Products</a>
        <a class="btn btn-primary" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
        <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Cart</a>
    </div>
</div>